:root {
  --c-hover-element: #E2EFFF;
  --c-field-border: #73AFF4;
  --c-btn-border: #7397F5;

  --c-font-main: #333333;
  --c-font-hover: #125BAE;
  --c-font-history: #5A0488;
  --c-font-second: #AAAAAA;
  --c-font-bg: #E2EFFF;

  --c-brand: #7397F5;

  --c-border: #D5D5D5;
  --c-icons: #CBCBCB;
  --scroll-bar: #F2F2F2;
  --color-white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

button {
  cursor: pointer;
  padding: 0;
}